@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@500&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Fira+Sans:wght@500&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Fira+Sans:wght@500&family=Work+Sans&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #ced5d5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.top-banner {
  background-color: #4a6367;
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 1.5rem 4rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.pw-container {
  background-color: #768a86;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  min-width: 400px;
}

.pw-header {
  padding: 1rem;
}

.pw {
  background-color: #ced5d5;
  display: flex;
  font-size: 1.5rem;
  color: black;
  align-items: center;
  height: 70px;
  width: 100%;
  position: relative;
  padding: 1rem;
  overflow: auto;
}

.pw button {
  background-color: white;
  border: none;
  color: rgb(29, 2, 56);
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  padding: 0.25rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, 20%);
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 0;
}

.pw:hover button {
  opacity: 1;
  transform: translate(0, 0%);
}

.pw-body {
  padding: 0 1rem 1rem;
}

.form-control {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
}

.generate {
  background-color: #e0b965;
  border: none;
  color: #000000;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.75rem;
  margin-top: 1rem;
  width: 100%;
}
